.container{
    background-color: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.linkimage{
    height: 80%;    
    
    
}
.image{
    height: 100%;
    
}
.menu{
    display: flex;
    gap: 3rem;
    
    height: 100px;
    align-items: center;
    
}

.link{
    color:white;
    font-size: 0.89rem;
    text-decoration: none;
    text-transform: uppercase;

}


.lenguaje .link{
    text-transform: lowercase;
    margin: 1rem;
}